{% load static%}
{% load component_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="icon" href="{% static 'favicon.ico'%}" type="image/x-icon" />
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-night.css'%}"/>
        <!-- EOF CSS INCLUDE -->                                    
    </head>
</head>
<body>

        {% block content %}
        {% endblock %}


     <!-- START PRELOADS -->
        {% comment %} <audio id="audio-alert" src="{% static 'audio/alert.mp3'%}" preload="auto"></audio>
        <audio id="audio-fail" src="{% static 'audio/fail.mp3'%}" preload="auto"></audio> {% endcomment %}
        
        <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>        

        <script type="text/javascript" src="{% static 'js/plugins/icheck/icheck.min.js'%}"></script>        
        <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/scrolltotop/scrolltopcontrol.js'%}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js'%}"></script>       
        <script type="text/javascript" src="{% static 'js/plugins/rickshaw/d3.v3.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/rickshaw/rickshaw.min.js'%}"></script>
         <script type="text/javascript" src="{% static 'js/plugins/moment.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/fullcalendar/fullcalendar.min.js'%}"></script>

        <script type="text/javascript" src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script>                
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js'%}"></script>                
        <script type="text/javascript" src="{% static 'js/plugins/owl/owl.carousel.min.js'%}"></script>                 

        <script type="text/javascript" src="{% static 'js/plugins/moment.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/daterangepicker/daterangepicker.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/datatables/jquery.dataTables.min.js'%}"></script>    


        <script type="text/javascript" src="{% static 'js/plugins.js'%}"></script>        
        <script type="text/javascript" src="{% static 'js/action.js'%}"></script>

        {% block script %}{% endblock %}
       
</body>
</html>