{% extends "layouts/admin.html" %}
{% block title %}Products{% endblock %}
{% block content %}
{%load static%}
 <!-- START PAGE CONTAINER -->

    <div class="container " style=" border-radius: 19px; background-color:#fff; padding:2rem 4rem; box-shadow: 9px 6px 30px 2px rgba(0,0,0,0.12);">
    {% comment %} <h1 >Products {{ url('admin:producs:create')}}</h1> {% endcomment %}
        <a href="{{ 'create' }}" class="btn btn-primary">Add Product</a>
        {% component 'datatable' %} 

            {%fill 'headers'%}
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Category</th>

                <th>Weight</th>
                <th>Description</th>
                <th>Action</th>
            {% endfill %}
            {%fill 'body'%}
                {% for product in products %}
                    <tr id="">
                        <td><img src="{% static product.foto_produk %}" alt="" style="width: 100px;"></td>
                        <td>{{ product.nama_produk }}</td>
                        <td>{{ product.harga_produk }}</td>
                        <td>{{ product.kategori.nama_kategori }}</td>
                        <td>{{ product.berat_produk }}</td>
                        <td>{{ product.deskripsi_produk }}</td>
                        <td>
                            <a href="{% url 'dashboard:update_product' id=product.id_produk %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'dashboard:delete_product' id=product.id_produk %}" class="btn btn-danger">Delete</a>
                    </tr>
                {% endfor %}
            {% endfill %}

        {%endcomponent%}
    </div>

{% endblock %}

{% block script%}
 <!-- END SCRIPTS -->     
        <script>
            $(document).ready(function() {
                // Setup - add a text input to each footer cell
                $('#example tfoot th').each(function() {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search" class="form-control" />');
                });
                // DataTable
                var table = $('#example').DataTable();
                // Apply the search
                table.columns().every(function() {
                    var that = this;
                    $('input', this.footer()).on('keyup change', function() {
                        if (that.search() !== this.value) {
                            that
                                    .search(this.value)
                                    .draw();
                        }
                    });
                });
            });
        </script>

{% endblock %}