{% extends "layouts/admin.html" %}
{% block title %}Products{% endblock %}
{% block content %}
{%load static%}
 <!-- START PAGE CONTAINER -->

    <div class="container " style=" border-radius: 19px; background-color:#fff; padding:2rem 4rem; box-shadow: 9px 6px 30px 2px rgba(0,0,0,0.12);">
    {% comment %} <h1 >Products {{ url('admin:products:create')}}</h1> {% endcomment %}
        <a href="{{ 'create' }}" class="btn btn-primary">Add Product</a>
        {% component 'datatable' %} 

            {%fill 'headers'%}
                <th>Kode</th>
                <th>Jenis</th>
                <th>Warna</th>
                <th>Merk</th>
                <th>ketersediaan</th>
                <th>Jadwal</th>
                <th>Notifikasi</th>
                <th>Foto Produk</th>
                <th></th>
                <th></th>
            {% endfill %}
            {%fill 'body'%}
                {% if products %}
                    {% for product in products %}
                        <tr id="">
                            <td>{{ product.kode }}</td>
                            <td>{{ product.jenis }}</td>
                            <td>{{ product.warna }}</td>
                            <td>{{ product.merk }}</td>
                            <td>{{ product.ketersediaan }}</td>
                            <td>{{ product.jadwal }}</td>
                            <td>{{ product.notifikasi }}</td>
                            <td>{{ product.foto_produk }}</td>
                            <td><a class="btn btn-primary" href="{% url 'dashboard:update_product' product.kode %}">Edit</a></td>
                            <td><a class="btn btn-primary" href="{% url 'dashboard:delete_product' product.kode %}">Hapus</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td>Nothing</td>
                        </tr>

                {% endif %}
            {% endfill %}

        {%endcomponent%}
    </div>

{% endblock %}

{% block script%}
 <!-- END SCRIPTS -->     
        <script>
            $(document).ready(function() {
                // Setup - add a text input to each footer cell
                $('#example tfoot th').each(function() {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search" class="form-control" />');
                });
                // DataTable
                var table = $('#example').DataTable();
                // Apply the search
                table.columns().every(function() {
                    var that = this;
                    $('input', this.footer()).on('keyup change', function() {
                        if (that.search() !== this.value) {
                            that
                                    .search(this.value)
                                    .draw();
                        }
                    });
                });
            });
        </script>

{% endblock %}